<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdsMovilOperationsDashboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VisualReportsServlet</display-name>
    <servlet-name>VisualReportsServlet</servlet-name>
    <servlet-class>adsmovil.operations.liquidm.VisualReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualReportsServlet</servlet-name>
    <url-pattern>/VisualReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampaignDashboardServlet</display-name>
    <servlet-name>CampaignDashboardServlet</servlet-name>
    <servlet-class>adsmovil.operations.CampaignDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampaignDashboardServlet</servlet-name>
    <url-pattern>/CampaignDashboardServlet</url-pattern>
  </servlet-mapping>
</web-app>